.homapageContainer{
    height: auto;
    width:100vw;
    overflow: scroll;
}


/* ====Navbar Section =========*/
.navbarsection{
    height: 25rem;
    width: 100%;
    box-shadow: 0px 0px 5px 1px rgb(134, 135, 134) ;
}

.navbarRightsection{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarRightsection a{
    position: absolute;
    left: 2%;
    bottom: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}
.navbarRightsection a:hover{
    color: rgb(43, 25, 25);
    background-color: rgb(232, 232, 232);
}
.navbarRightsection img{
    height: 100%;
    width: 40%; 
      opacity: .9;
      border-bottom-left-radius: 50%;
      border-top-left-radius: 20%;
}

.navbarLeftsection{
    height: 60%;
    width: 40%;
    margin-left: 15%;
}


.navbarLeftsection input{
    height: 20%;
    width: 70%;
    border-radius: 1rem;
    outline: none;
    border: none;
    font-size: 1.1rem;
    padding: 0rem 2rem;
    box-shadow: -1px 0px 2px 1px rgb(132, 131, 131);
}
.navbarLeftsection button{
    height: 15%;
    font-size: 1.3rem;
    width: 15%;
    background-color: aquamarine;
    color: black;
    border: none;
    outline: none;
    box-shadow: 1px 0px 2px 1px rgb(132, 131, 131);
    border-radius: 1rem;
}
.navbarLeftsection h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(5, 94, 64);
    font-size: 2.5rem;

}


/*-------------Bodysection ------------------*/

.bodysection{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*-------------recipe Card ------------------*/

.recipeCard{
    height: 25rem;
    width: 20%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 0 2px 2px rgba(0,0,0,0.11), 0 4px 4px rgba(0,0,0,0.11), 0 6px 8px rgba(0,0,0,0.11), 0 8px 16px rgba(0,0,0,0.11);
    border-radius: 1rem;
    margin: 1rem;
}
.recipeCard span{
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 600;
    text-align: center;
}
.recipeCard img{
    height: 60%;
    width: 90%;
    border-radius: .5rem;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 0 2px 2px rgba(0,0,0,0.11), 0 4px 4px rgba(0,0,0,0.11), 0 6px 8px rgba(0,0,0,0.11), 0 8px 16px rgba(0,0,0,0.11);   
}

.recipeCard button{
    height: 10%;
    width: 90%;
    border-radius: .3rem;
    box-shadow: 0px 0px 1px 1px rgb(48, 150, 1);
    background-color: antiquewhite; 
    border: none;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;    
}
.recipeCard button:hover{
    cursor: pointer;
    background-color: rgb(231, 170, 90);  
}


/*------------food meal conatiner-------------*/
.foodmodalconatainer{
    height: 100vh;
    width: 100vw;
}
.itemdetaisUpperpart{
    height: 10%;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}
.itemdetaisUpperpart1 h3{
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.itemdetaisUpperpart img{
    height: 90%;
    width: 10%;
    
}
.itemdetaisLowerpart{
    height:90%;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.detailsRightpannel{
    height:70%;
    width: 40%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 0 2px 2px rgba(0,0,0,0.11), 0 4px 4px rgba(0,0,0,0.11), 0 6px 8px rgba(0,0,0,0.11), 0 8px 16px rgba(0,0,0,0.11);
    border-radius: .5rem;
}
.detailsRightpannel img{
    height:95%;
    box-shadow: 0 1px 1px rgba(45, 194, 7, 0.767), 0 2px 2px rgba(0,0,0,0.11), 0 4px 4px rgba(0,0,0,0.11), 0 6px 8px rgba(0,0,0,0.11), 0 8px 16px rgba(0,0,0,0.11);
    width: 100%;
    border-radius: .5rem;
}


.detailsLeftpannel{
    box-shadow:  0 8px 16px rgba(0,0,0,0.20);
    height:90%;
    width: 50%;
    border-radius: .5rem;
}

.headerofshowdetails{
    height:auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerofshowdetails img{
    height:3rem;
    width: 8%;
}
.headerofshowdetails img:hover{
    height:2.5rem;
    width: 8%;
}

.para1{
   font-size: 1.5rem;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: rgb(3, 45, 31);
   padding: 1rem 2rem;
}
.para2{
   font-size: 1.5rem;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: rgb(2, 72, 49);
   padding: 1rem 2rem;
}
.para{
   font-size: 1rem;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: rgb(14, 2, 72);
   padding: 1rem 2rem;
   
}
.para img{
  height: 1rem;
  width: 1rem;
}

.favirtoteLowerpart{
    display: flex;
    height: auto;
    width : 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}





@media screen and (max-width: 1150px) and (min-width: 1000px)  {
    .navbarsection {
        height: 20rem;
    }
    .navbarLeftsection {
        width: 50%;
        margin-left: 5%;
    }
    .navbarLeftsection button {
        width: 25%;
    }
    .recipeCard {
        width: 28%;
    }
     
}


@media screen and (max-width: 1000px) and (min-width: 800px)  {
        
        .navbarLeftsection {
            height: 85%;
            width: 100%;
            margin-left: 5%;
        }
        .navbarsection{
            height: 19rem;
        }
        .navbarLeftsection h1 {
            font-size: 2rem;
        }
        .navbarLeftsection button {
            height: 18%;
            font-size: 1rem;
            width: 26%;
        }
        
        .recipeCard {
            width: 40%; 
        }
        .navbarRightsection a {
            
            font-size: 1rem;
        }

        .itemdetaisUpperpart img {
            height: 68%;
            width: 20%;
        }

        .itemdetaisLowerpart {
            flex-direction: column;
        }


        .detailsRightpannel {
            height: 60%;
            width: 85%;
        }

        .detailsLeftpannel {
            height: 50%;
            width: 95%; 
        }

        .headerofshowdetails img {
            width: 12%;
        }
        .para2 {
            font-size: 1rem;
        }
}


@media screen and (max-width: 800px) and (min-width: 600px)  {
        .navbarRightsection img{
                display: none;
        }
        .navbarLeftsection {
            height: 85%;
            width: 100%;
            margin-left: 5%;
        }
        .navbarsection{
            height: 19rem;
        }
        .navbarLeftsection h1 {
            font-size: 2rem;
        }
        .navbarLeftsection button {
            height: 18%;
            font-size: 1rem;
            width: 26%;
        }
        
        .recipeCard {
            width: 40%; 
        }
        .navbarRightsection a {
            
            font-size: 1rem;
        }

        .itemdetaisUpperpart img {
            height: 68%;
            width: 20%;
        }

        .itemdetaisLowerpart {
            flex-direction: column;
        }


        .detailsRightpannel {
            height: 60%;
            width: 85%;
        }

        .detailsLeftpannel {
            height: 50%;
            width: 95%; 
        }

        .headerofshowdetails img {
            width: 12%;
        }
        .para2 {
            font-size: 1rem;
        }
}
@media screen and (max-width: 600px) and (min-width: 500px)  {
        .navbarRightsection img{
                display: none;
        }
        .navbarLeftsection {
            height: 85%;
            width: 100%;
            /* margin-left: 15%; */
        }
        .navbarsection{
            height: 11rem;
        }
        .navbarLeftsection h1 {
            font-size: 1.5rem;
        }
        .navbarLeftsection button {
            height: 18%;
            font-size: 1rem;
            width: 26%;
        }
        .bodysection {
            flex-direction: column;
        }
        .recipeCard {
            width: 65%; 
        }
        .navbarRightsection a {
            
            font-size: 1rem;
        }

        .itemdetaisUpperpart img {
            height: 68%;
            width: 20%;
        }

        .itemdetaisLowerpart {
            flex-direction: column;
        }


        .detailsRightpannel {
            height: 40%;
            width: 85%;
        }

        .detailsLeftpannel {
            height: 50%;
            width: 95%; 
        }

        .headerofshowdetails img {
            width: 12%;
        }
        .para2 {
            font-size: 1rem;
        }
}

@media screen and (max-width: 500px) and (min-width: 400px)  {
        .navbarRightsection img{
                display: none;
        }
        .navbarLeftsection {
            height: 85%;
            width: 100%;
            margin-left: 0;
        }
        .navbarsection{
            height: 11rem;
        }
        .navbarLeftsection h1 {
            font-size: 1.5rem;
        }
        .navbarRightsection a {
            
            font-size: 1rem;
        }
        .navbarLeftsection button {
            height: 18%;
            font-size: 1rem;
            width: 26%;
        }
        .bodysection {
            flex-direction: column;
        }
        .recipeCard {
            width: 75%; 
        }

        .itemdetaisUpperpart img {
            height: 68%;
            width: 20%;
        }

        .itemdetaisLowerpart {
            flex-direction: column;
        }
        .navbarsection {
            height: 15rem;
        }

        .detailsRightpannel {
            height: 40%;
            width: 85%;
        }

        .detailsLeftpannel {
            height: 50%;
            width: 95%; 
        }

        .headerofshowdetails img {
            width: 12%;
        }
        .para2 {
            font-size: 1rem;
        }
}

@media screen and (max-width: 400px) and (min-width: 200px)  {
        .navbarRightsection img{
                display: none;
        }
        .navbarLeftsection {
            height: 85%;
            width: 100%;
            /* margin-left: 15%; */
        }
        .navbarsection{
            height: 11rem;
        }
        .navbarLeftsection h1 {
            font-size: 1.5rem;
        }
        .navbarLeftsection button {
            height: 18%;
            font-size: 1rem;
            width: 26%;
        }
        .bodysection {
            flex-direction: column;
        }
        .navbarRightsection a {
            
            font-size: 1rem;
        }
        .recipeCard {
            width: 90%; 
        }

        .itemdetaisUpperpart img {
            height: 68%;
            width: 20%;
        }

        .itemdetaisLowerpart {
            flex-direction: column;
        }


        .detailsRightpannel {
            height: 40%;
            width: 85%;
        }

        .detailsLeftpannel {
            height: 50%;
            width: 95%; 
        }

        .headerofshowdetails img {
            width: 12%;
        }
        .para2 {
            font-size: 1rem;
        }
}