*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  overflow: scroll;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*::-webkit-scrollbar{
display: none;
}
.flexDivRow{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-divcoluon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexdivRowevenly1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.flexdivRowevenly{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}